plugins/org.eclipse.wst.server.discovery/discovery.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://java.sun.com/xml/ns/j2ee" xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.4">

  <xsd:complexType name="extension">
    <xsd:annotation>
  		<xsd:documentation>Update site URL</xsd:documentation>
  	</xsd:annotation>
    <xsd:attribute name="url" type="string"></xsd:attribute>
    <xsd:attribute name="website" type="string"></xsd:attribute>
  </xsd:complexType>

</xsd:schema>